.m-slider {
  overflow: hidden;
  transform: translateZ(0);
  width: 600px;
  height: 400px;
}
  
i {
  font-style: normal;
}
  
.m-slider-left,
.m-slider-right {
  float: left;
  height: 400px;
}

.m-slider-left {
  background-color: #d9edf7
}
  
.m-slider-right {
  width: 540px;
  overflow: hidden;
}
  
.m-slider-items {
  overflow: hidden;
}
  
.m-slider-right:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
  
.m-slider-item {
  height: 400px;
  width: 540px;
  float: left;
  box-shadow: 2px rgba(0,0,0,0.4);
}
  
.cube-box {
  text-align: center;
  background-color: lightblue;
}

.title {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}
  
.snake {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
}
  
.randombox {
  opacity: 0.8;
  background: blue;
}
  
#snakehead {
  background-color: gold;
}
  
.snake-box {
  opacity: 0.9;
  position: relative;
}
  
footer {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.vert-align {
  height: 100%;
  width: 1px;
}

.m-modal, .vert-align {
  display: inline-block;
  vertical-align: middle;
}

.m-modal {
  background-image: url(http://ww1.sinaimg.cn/large/8fb9897dgw1ey6g0325plj21kw0p9h22.jpg);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
}

#slider {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.current {
  background-color: lightblue;
}
