.bar i {
    display: block;
    text-align: center;
    height: 100%;
    background: red;
    width: 40px;
}

.bar {
    position: relative;
}

.bar p {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.main,
.main > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    position: relative;
    height: 700px;
}

.main > .div {
    transition: all .6s;
}
