.bar {
    background: red;
    width: 40px;
}

.main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    position: relative;
    height: 700px;
}

.main > div {
    transition: all .6s;
}
